body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f1faee;
}

nav {
  background: #1d3557;
  padding: 1rem;
  color: #f1faee;
}

nav a {
  color: white;
  margin-right: 10px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}
